.addstory {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.add-story-modal {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1pt solid red;
    font-size: 24px;
    cursor: pointer;
    color: red;
    border-radius: 20px;

}

.slide-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}

.slide-tab-container {
    position: relative;

}

.slide-tab {
    font-weight: bold;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 17px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.slide-tab.active {
    border: 1pt solid #73ABFF;
}


.delete-slide {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: white;
    color: #dc3545;
    border: 1pt solid #dc3545;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.form-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.form-container.hidden {
    display: none;
}

.form-group {
    display: contents;
}



label {
    font-weight: bold;
    text-align: left;
}

input,
textarea,
select {
    width: 70%;
    padding: 8px;
    border: 1pt solid black;
    border-radius: 4px;
    margin-left: 20px;


}

textarea {
    height: 100px;
}

.category-info {
    grid-column: 2;
    font-size: 12px;
    color: #888;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.btn {
    padding: 11px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 2px;
    border-radius: 20px;
}

.btn.previous {
    background-color: #7EFF73;
    color: white;
}

.btn.next {
    background-color: #73ABFF;
    color: white;
}

.btn.post {
    background-color: #FF7373;
    color: white;
}


.scrollable-dropdown {
    max-height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
    width: 75%;
    padding: 8px;
    border: 1pt solid black;
    border-radius: 4px;
    margin-left: 20px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn.disabled:hover {
    background-color: #007bff;

}

@media (max-width: 768px) {
    .slideandinput {

        display: flex;
        padding: 5px;
    }


    .add-story-modal {
        padding: 0px;
        width: 80%;
        max-width: none;
        height: auto;
        max-height: 80vh;
        overflow-y: auto;


    }

    .form-container {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .modal-header h2 {
        font-size: 16px;
    }

    .slide-tabs {
        margin-bottom: 15px;
        margin-right: 15px;

        flex-direction: column;

    }

    .slide-tab {
        font-size: 11px;
        padding: 12px 17px;

    }

    label {
        font-size: 13px;
    }

    input,
    textarea,
    select,
    #category {
        font-size: 13px;
        margin: 0;
        padding: 5px 5px;
    }



    .btn.post {
        font-size: 14px;

    }
}