.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}



.modal-contentsignup {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-groupsignup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-groupsignup label {
    font-weight: bold;
    margin-right: 5px;
    flex: 1;
    margin-top: 20px;
}

.input-groupsignup input {
    border-radius: 0;
    padding: 8px;
    border: 1pt solid black;
    width: 200px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 60px;



}





.password-input {
    position: relative;
    margin-top: 20px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.register-button {
    width: 25%;
    padding: 10px;
    background-color: #73ABFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 60px;

}

.register-button:hover {
    background-color: #0056b3;
}

.close-button {
    position: absolute;
    top: 45px;
    right: 50px;
    background: none;
    border: 2pt solid red;
    color: red;
    font-weight: bold;
    font-size: larger;
    width: 6%;
    height: 7.9%;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
}

.modal-title {
    margin-bottom: 50px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .modal-contentsignup {
        width: 55% !important;
        height: auto !important;
        padding: 30px 40px !important;

    }

    .input-groupsignup input {

        margin-left: 20px !important;
        align-items: flex-start !important;


    }

    .input-groupsignup {

        flex-direction: column !important;
        margin: 0 !important;
        align-items: flex-start !important;

    }

    .input-groupsignup label {
        margin-left: 20px !important;

    }

    input#username{
        margin-top:15px;
    }

    .register-button {
        width: 50% !important;
    }

    .close-button {
        width: 12% !important;
        top: 20px !important;
        right: 20px !important;

    }



}
